<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include '@App/translations.html.twig' %}

        {% block body %}{% endblock %}

        <script src="{{ asset('bundles/app/js/jquery-2.1.4.min.js') }}"></script>
        {% block javascripts %}
            {{ render(controller('TomAtomAtomBundle:Atom:_metas')) }}
        {% endblock %}
    </body>
</html>
