{% set route = app.request.attributes.get('_route') %}
{% set params = app.request.attributes.get('_route_params') %}

<div id="lang-select">
    <a href="{{ path(route, params|merge({"_locale": "en"})) }}" class="flag-en {% if app.request.locale == 'en' %}active{% endif %}">English</a>
    <a href="{{ path(route, params|merge({"_locale": "cs"})) }}" class="flag-cs {% if app.request.locale == 'cs' %}active{% endif %}">Česky</a>
</div>